<div>
Hi all, may I have your attentions please! <%= commiter_name%> has just pushed some code to repo "<%= repo_name%>".
</div>
<br/>
<div>
There
<%
if commits.length > 1
%>
are <%= commits.length %> commits:
<%
else
%>
is 1 commit:
<%
end
%>
</div>
<br/>

<div>
<%
commits.each do |commit|
%>
&nbsp;&nbsp;&nbsp;&nbsp;－ <span><%= commit['message']%> (<%= commit['timestamp']%>)</span><br/>
<%
end
%>
</div>

<div>
Repo URL: <a><%= url%></a>
</div>
