<div>
Hi all, may I have your attentions please! <%= commiter_name%> has just pushed some code to repo "<%= repo_name%>"
</div>
<div>
There are <%= commits.length %> commits:
<ul>
<%
commits.each do |commit|
%>
<li><%= commit['message']%> (<%= commit['timestamp']%>)</li>
<%
end
%>
</ul>
</div>
<div>
Repo URL: <a><%= url%></a>
</div>
